In [42]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LinearRegression
import pandas as pd
from sys import getsizeof
import numpy as np

In [3]:
data = pd.read_csv("D:\semester 2\data mining\Project\FARS2017NationalCSV\VEHICLE - Copy.csv")

c:\users\sdeva\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (46) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
data.head()

,State,Case_No.,Vehicle_No.,No. of Occupants,Harmful_Event,Manner_of_Collision,Hit_and_Run,Make,Body_Type,Towing_Vehicle,...,traffic control functioning,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,crash type,DEATHS,DR_DRINK,STATES
0,1,10001,1,1,38,0,0,20,15,1,...,0,1,12,99,1,4,6,1,0,Alabama
1,1,10002,1,1,1,0,0,37,14,0,...,0,1,12,99,1,4,6,1,0,Alabama
2,1,10003,1,1,12,1,0,82,66,1,...,0,1,99,99,1,1,33,0,0,Alabama
3,1,10003,2,1,12,1,0,2,14,0,...,0,15,99,99,9,9,33,1,0,Alabama
4,1,10003,3,1,12,1,0,84,66,1,...,0,1,99,99,1,1,98,0,0,Alabama

In [5]:
data.STATES.dtype
del data['Unnamed: 45']

In [28]:
sample = data[['State']]

In [30]:
states = {1:'Alabama',2 :'Alaska',4: 'Arizona',5: 'Arkansas',6: 'California',8: 'Colorado',9: 'Connecticut',10: 'Delaware',11: 'District of Columbia',12: 'Florida',13: 'Georgia',
          15: 'Hawaii',16:'Idaho', 17: 'Illinois', 18: 'Indiana',19: 'Iowa',20: 'Kansas',21: 'Kentucky',22: 'Louisiana',23: 'Maine',24: 'Maryland',25: 'Massachusetts',
          26: 'Michigan',27: 'Minnesota',28: 'Mississippi',29: 'Missouri',30: 'Montana',31: 'Nebraska',32: 'Nevada',33: 'New Hampshire',34: 'New Jersey',35: 'New Mexico',
          36: 'New York', 37: 'North Carolina', 38: 'North Dakota', 39: 'Ohio', 40: 'Oklahoma', 41: 'Oregon',  42: 'Pennsylvania', 43: 'Puerto Rico', 44: 'Rhode Island',
          45: 'South Carolina', 46: 'South Dakota', 47: 'Tennessee', 48: 'Texas', 49: 'Utah', 50: 'Vermont', 52:'Virgin Islands', 51: 'Virginia',53: 'Washington',
          54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming'}

In [24]:
print(pd.__version__)

1.0.1

In [43]:
sample['New'] = sample['State'].replace(states)
sample

<ipython-input-43-12ad8b870668>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['New'] = sample['State'].replace(states)

       State      New
0          1  Alabama
1          1  Alabama
2          1  Alabama
3          1  Alabama
4          1  Alabama
...      ...      ...
53123     56  Wyoming
53124     56  Wyoming
53125     56  Wyoming
53126     56  Wyoming
53127     56  Wyoming

[53128 rows x 2 columns]

In [7]:
sample.New.dtype

NameError: name 'sample' is not defined

In [195]:
fh = FeatureHasher(n_features =51 , input_type='string')
hashed_feature = fh.transform(data['STATES'])

In [157]:
print(hashed_feature)

  (0, 7)	1.0
  (0, 11)	-1.0
  (0, 14)	1.0
  (0, 17)	1.0
  (0, 23)	3.0
  (0, 43)	1.0
  (1, 7)	1.0
  (1, 11)	-1.0
  (1, 14)	1.0
  (1, 17)	1.0
  (1, 23)	3.0
  (1, 43)	1.0
  (2, 7)	1.0
  (2, 11)	-1.0
  (2, 14)	1.0
  (2, 17)	1.0
  (2, 23)	3.0
  (2, 43)	1.0
  (3, 7)	1.0
  (3, 11)	-1.0
  (3, 14)	1.0
  (3, 17)	1.0
  (3, 23)	3.0
  (3, 43)	1.0
  (4, 7)	1.0
  :	:
  (53123, 7)	2.0
  (53123, 14)	0.0
  (53123, 35)	-1.0
  (53123, 46)	1.0
  (53123, 48)	-2.0
  (53124, 7)	2.0
  (53124, 14)	0.0
  (53124, 35)	-1.0
  (53124, 46)	1.0
  (53124, 48)	-2.0
  (53125, 7)	2.0
  (53125, 14)	0.0
  (53125, 35)	-1.0
  (53125, 46)	1.0
  (53125, 48)	-2.0
  (53126, 7)	2.0
  (53126, 14)	0.0
  (53126, 35)	-1.0
  (53126, 46)	1.0
  (53126, 48)	-2.0
  (53127, 7)	2.0
  (53127, 14)	0.0
  (53127, 35)	-1.0
  (53127, 46)	1.0
  (53127, 48)	-2.0

In [133]:
hashed_feature.unique()

AttributeError: unique not found

In [155]:
getsizeof(data['STATES'])

2001481

In [154]:
getsizeof(hashed_feature)

24

In [135]:
hashed_feature=hashed_feature.toarray()
hashed_feature.unique()

AttributeError: 'numpy.ndarray' object has no attribute 'toarray'

In [128]:
getsizeof(hashed_feature)

21676280

In [144]:
data['hashed_values'] = hashed_feature
data.head(7000)
#data['hashed_values'].nunique()

,State,Case_No.,Vehicle_No.,No. of Occupants,Harmful_Event,Manner_of_Collision,Hit_and_Run,Make,Body_Type,Towing_Vehicle,...,P_CRASH3,PCRASH4,PCRASH5,crash type,DEATHS,DR_DRINK,Unnamed: 45,Unnamed: 46,STATES,hashed_values
0,1,10001,1,1,38,0,0,20,15,1,...,99,1,4,6,1,0,1.0,Alabama,Alabama,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
1,1,10002,1,1,1,0,0,37,14,0,...,99,1,4,6,1,0,2.0,Alaska,Alabama,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
2,1,10003,1,1,12,1,0,82,66,1,...,99,1,1,33,0,0,4.0,Arizona,Alabama,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
3,1,10003,2,1,12,1,0,2,14,0,...,99,9,9,33,1,0,5.0,Arkansas,Alabama,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
4,1,10003,3,1,12,1,0,84,66,1,...,99,1,1,98,0,0,6.0,California,Alabama,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6,62310,1,1,12,2,0,73,80,0,...,99,9,2,50,1,0,NaN,NaN,California,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
6996,6,62310,2,1,12,2,0,37,14,0,...,1,1,1,51,0,0,NaN,NaN,California,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
6997,6,62311,1,99,9,0,1,58,14,0,...,99,1,1,13,0,0,NaN,NaN,California,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
6998,6,62311,2,99,9,0,1,99,99,0,...,99,1,1,98,0,0,NaN,NaN,California,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."
6999,6,62312,1,3,12,7,0,12,5,0,...,99,2,2,46,2,0,NaN,NaN,California,"(0, 7)\t1.0\n (0, 11)\t-1.0\n (0, 14)\t1.0..."

In [167]:
help(pd.get_dummies)

Help on function get_dummies in module pandas.core.reshape.reshape:

get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None) -> 'DataFrame'
    Convert categorical variable into dummy/indicator variables.

    Parameters
    ----------
    data : array-like, Series, or DataFrame
        Data of which to get dummy indicators.
    prefix : str, list of str, or dict of str, default None
        String to append DataFrame column names.
        Pass a list with length equal to the number of columns
        when calling get_dummies on a DataFrame. Alternatively, `prefix`
        can be a dictionary mapping column names to prefixes.
    prefix_sep : str, default '_'
        If appending prefix, separator/delimiter to use. Or pass a
        list or dictionary as with `prefix`.
    dummy_na : bool, default False
        Add a column to indicate NaNs, if False NaNs are ignored.
    columns : list-like, default None
        Column names in the DataFrame to be encoded.
        If `columns` is None then all the columns with
        `object` or `category` dtype will be converted.
    sparse : bool, default False
        Whether the dummy-encoded columns should be backed by
        a :class:`SparseArray` (True) or a regular NumPy array (False).
    drop_first : bool, default False
        Whether to get k-1 dummies out of k categorical levels by removing the
        first level.
    dtype : dtype, default np.uint8
        Data type for new columns. Only a single dtype is allowed.

        .. versionadded:: 0.23.0

    Returns
    -------
    DataFrame
        Dummy-coded data.

    See Also
    --------
    Series.str.get_dummies : Convert Series to dummy codes.

    Examples
    --------
    >>> s = pd.Series(list('abca'))

    >>> pd.get_dummies(s)
       a  b  c
    0  1  0  0
    1  0  1  0
    2  0  0  1
    3  1  0  0

    >>> s1 = ['a', 'b', np.nan]

    >>> pd.get_dummies(s1)
       a  b
    0  1  0
    1  0  1
    2  0  0

    >>> pd.get_dummies(s1, dummy_na=True)
       a  b  NaN
    0  1  0    0
    1  0  1    0
    2  0  0    1

    >>> df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
    ...                    'C': [1, 2, 3]})

    >>> pd.get_dummies(df, prefix=['col1', 'col2'])
       C  col1_a  col1_b  col2_a  col2_b  col2_c
    0  1       1       0       0       1       0
    1  2       0       1       1       0       0
    2  3       1       0       0       0       1

    >>> pd.get_dummies(pd.Series(list('abcaa')))
       a  b  c
    0  1  0  0
    1  0  1  0
    2  0  0  1
    3  1  0  0
    4  1  0  0

    >>> pd.get_dummies(pd.Series(list('abcaa')), drop_first=True)
       b  c
    0  0  0
    1  1  0
    2  0  1
    3  0  0
    4  0  0

    >>> pd.get_dummies(pd.Series(list('abc')), dtype=float)
         a    b    c
    0  1.0  0.0  0.0
    1  0.0  1.0  0.0
    2  0.0  0.0  1.0

In [164]:
from sklearn import linear_model

In [173]:
onehot = pd.get_dummies(data, prefix=data['STATES'])

ValueError: Length of 'prefix' (53128) did not match the length of the columns being encoded (3).

In [179]:
dict=[{}]

In [183]:
dict = pd.DataFrame({1:["cat","cat","dog","monkey"],2:[1,2,3,4]})
dict

        1  2
0     cat  1
1     cat  2
2     dog  3
3  monkey  4

In [222]:
one_hot = pd.get_dummies(data, prefix=[])
pd.set_option("max_columns",150)

ValueError: Length of 'prefix' (1) did not match the length of the columns being encoded (2).

In [208]:
del data['Unnamed: 46']

KeyError: 'Unnamed: 46'

In [7]:
one_hot

NameError: name 'one_hot' is not defined

In [18]:
h = CountVectorizer()

In [52]:
h.fit(data["STATES"])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [53]:
print(h.vocabulary_)

{'alabama': 1, 'alaska': 2, 'arizona': 3, 'arkansas': 4, 'california': 5, 'colorado': 7, 'connecticut': 9, 'delaware': 11, 'district': 12, 'of': 40, 'columbia': 8, 'florida': 13, 'georgia': 14, 'hawaii': 16, 'idaho': 17, 'illinois': 18, 'indiana': 19, 'iowa': 20, 'kansas': 24, 'kentucky': 25, 'louisiana': 26, 'maine': 27, 'maryland': 28, 'massachusetts': 29, 'michigan': 31, 'minnesota': 32, 'mississippi': 33, 'missouri': 34, 'montana': 35, 'nebraska': 36, 'nevada': 37, 'new': 38, 'hampshire': 15, 'jersey': 23, 'mexico': 30, 'york': 57, 'north': 39, 'carolina': 6, 'dakota': 10, 'ohio': 41, 'oklahoma': 42, 'oregon': 43, 'pennsylvania': 44, 'rhode': 45, 'island': 21, 'south': 46, '46': 0, 'tennessee': 47, 'texas': 48, 'utah': 49, 'vermont': 50, 'virgin': 51, 'islands': 22, 'washington': 53, 'west': 54, 'virginia': 52, 'wisconsin': 55, 'wyoming': 56}

In [54]:
new = h.transform(data['STATES'])

In [55]:
print(new.shape)

(53128, 58)

In [56]:
type(new)

scipy.sparse.csr.csr_matrix

In [48]:
new = new.toarray()

In [37]:
new = pd.DataFrame(new)

In [50]:
new

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0]], dtype=int64)

In [57]:
data['new'] = new