In [7]:
from sklearn.feature_extraction import FeatureHasher
import pandas as pd

In [5]:
data = pd.read_csv("D:\semester 2\data mining\Project\FARS2017NationalCSV\VEHICLE - Copy.csv")

In [8]:
data.head()

,State,Case_No.,Vehicle_No.,No. of Occupants,Harmful_Event,Manner_of_Collision,Hit_and_Run,Make,Body_Type,Towing_Vehicle,...,traffic control,traffic control functioning,P_CRASH1,P_CRASH2,P_CRASH3,PCRASH4,PCRASH5,crash type,DEATHS,DR_DRINK
0,1,10001,1,1,38,0,0,20,15,1,...,0,0,1,12,99,1,4,6,1,0
1,1,10002,1,1,1,0,0,37,14,0,...,0,0,1,12,99,1,4,6,1,0
2,1,10003,1,1,12,1,0,82,66,1,...,0,0,1,99,99,1,1,33,0,0
3,1,10003,2,1,12,1,0,2,14,0,...,0,0,15,99,99,9,9,33,1,0
4,1,10003,3,1,12,1,0,84,66,1,...,0,0,1,99,99,1,1,98,0,0

In [10]:
sample = data[['State']]

In [11]:
states = {1:'Alabama',2 :'Alaska',4: 'Arizona',5: 'Arkansas',6: 'California',8: 'Colorado',9: 'Connecticut',10: 'Delaware',11: 'District of Columbia',12: 'Florida',13: 'Georgia',
          15: 'Hawaii',16:'Idaho', 17: 'Illinois', 18: 'Indiana',19: 'Iowa',20: 'Kansas',21: 'Kentucky',22: 'Louisiana',23: 'Maine',24: 'Maryland',25: 'Massachusetts',
          26: 'Michigan',27: 'Minnesota',28: 'Mississippi',29: 'Missouri',30: 'Montana',31: 'Nebraska',32: 'Nevada',33: 'New Hampshire',34: 'New Jersey',35: 'New Mexico',
          36: 'New York', 37: 'North Carolina', 38: 'North Dakota', 39: 'Ohio', 40: 'Oklahoma', 41: 'Oregon',  42: 'Pennsylvania', 43: 'Puerto Rico', 44: 'Rhode Island',
          45: 'South Carolina', 46: 'South Dakota', 47: 'Tennessee', 48: 'Texas', 49: 'Utah', 50: 'Vermont', 52:'Virgin Islands', 51: 'Virginia',53: 'Washington',
          54: 'West Virginia', 55: 'Wisconsin', 56: 'Wyoming'}